@charset "UTF-8";

body
{
    background-image: url(../image/sky.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.clear
{
    clear: both;
}

#wrapper
{
    width: 960px;
	height: 800px;
	margin-right: auto;
}
#left-column
{
    float: left;
    width: 360px;
	height: 620px;
}
#right-column
{
    float: right;
    width: 600px;
	height: 620px;
}
