@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prata&family=Sedan&display=swap');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-image: url(../image/msb-obit/sky.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Prata';
}
nav {
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    width: 100%;
    z-index: 4;
}
nav section {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 3em;
    margin: 0 auto;
    padding: 0 1em;
}
@media screen and (max-width: 480px) {
    nav section {
        font-size: 0.8em;
        line-height: 3.8em;
    }
}
h1 {
    font-size: 3.5em;
    padding-bottom: 0.1em;
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3.25em;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.75em;
        padding-bottom: 0.2em;
    }
}
h5 {
    font-size: 1.1em;
    font-weight: 300;
}
@media screen and (max-width: 1024px) {
    h5 {
        font-size: 1em;
    }
}
@media screen and (max-width: 768px) {
    h5 {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 480px) {
    h5 {
        font-size: .9em;
    }
}
@media screen and (max-width: 380px) {
    h5 {
        font-size: .7em;
    }
}
strong {
    font-weight: bold!important;
}
article.obituary {
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 4em 4.5em;
    padding-top: 1em;
}
@media screen and (max-width: 1280px) {
    article.obituary {
        padding: 3em 3.5em;
    }
}
@media screen and (max-width: 1024px) {
    article.obituary {
        padding: 2em 3em;
    }
}
@media screen and (max-width: 480px) {
    article.obituary {
        padding: 2em;
    }
}
p {
    font-size: 1rem;
    font-weight: normal;
}

.obit-text {
    color: #080808;
    font-family: 'Sedan';
}

#wrapper body nav {
    top: 0;
}
#wrapper body p {
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    #wrapper body {
        -webkit-transform: none !important;
            -ms-transform: none !important;
                transform: none !important;
    }
}
#wrapper header {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: calc(100% - 3em);
    width: 28%;
    max-width: 450px;
    padding: 3%;
    position: fixed;
    top: 3em;
    left: 0;
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    #wrapper header {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    #wrapper header {
        height: auto;
        width: 100%;
        max-width: none;
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
    }
}
@media screen and (max-width: 480px) {
    #wrapper header {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1em;
    }
}
#wrapper header section {
    padding-bottom: 50px
}
@media screen and (max-width: 768px) {
    #wrapper header section {
        padding-bottom: 2em;
    }
}
@media screen and (max-width: 480px) {
    #wrapper header section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        padding-bottom: 1em;
    }
}
#wrapper div.obit-image {
    padding-bottom: 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}
@media screen and (max-width: 768px) {
    #wrapper div.obit-image {
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0;
    }
}
#wrapper div.obit-image img {
    max-width: 500px;
    border: 5px solid #FFF;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 15px;
}
@media screen and (max-width: 1600px) {
    #wrapper div.obit-image img {
        max-width: 250px;
    }
}
@media screen and (max-width: 1275px) {
    #wrapper div.obit-image img {
        max-width: 200px;
    }
}
@media screen and (max-width: 1100px) {
    #wrapper div.obit-image img {
        max-width: 175px;
    }
}
@media screen and (max-width: 850px) {
    #wrapper div.obit-image img {
        max-width: 150px;
    }
}
@media screen and (max-width: 480px) {
    #wrapper div.obit-image img {
        max-width: 125px;
    }
}
#wrapper header h1 {
    font-size: 2.39em;
}
@media screen and (max-width: 1280px) {
    #wrapper header h1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 1024px) {
    #wrapper header h1 {
        font-size: 1.60em;
    }
}
@media screen and (max-width: 768px) {
    #wrapper header h1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 480px) {
    #wrapper header h1 {
        font-size: 1.75em;
    }
}
@media screen and (max-width: 380px) {
    #wrapper header h1 {
        font-size: 1.25em;
    }
}
#wrapper div.info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
@media screen and (max-width: 768px) {
    #wrapper div.info {
        display: inline-block;
        vertical-align: middle;
        padding-left: 1em;
    }
}
#wrapper main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto!important;
    width: 72%;
    margin-left: 28%;
    padding-top: 200px!important;
    padding-left: 8%;
    padding-right: 8%;
}
@media screen and (max-width: 1024px) {
    #wrapper main {
        width: 70%;
        margin-left: 30%;
        padding-top: 150px!important;
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 768px) {
    #wrapper main {
        min-height: 0;
        width: 100%;
        margin-left: 0;
        padding-top: 80px!important;
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 480px) {
    #wrapper main {
        padding-top: 100px!important;
        padding-left: 15px;
        padding-right: 15px;
    }
}
#wrapper main > * {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}
#wrapper article.obituary {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #DDD;
}
@media screen and (max-width: 768px) {
    #wrapper article.obituary {
        padding: 2rem 1rem;
    }
}
@media screen and (max-width: 480px) {
    #wrapper article.obituary {
        padding: 2rem 1rem;
    }
}
#wrapper article.obituary .obit-text p {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5em;
}
